<div class="time-table day2">
  <div class="schedule-details-heading">
    <div class="side">
      <div class="title">{% t schedule_workshop_title  %}一</div>
    </div>
    <div class="side">
      <div class="title">{% t schedule_workshop_title  %}二</div>
    </div>
    <div class="side">
      <div class="title">{% t schedule_workshop_title  %}三</div>
    </div>
  </div>
  <div class="time-table-row heading">
    <!-- <div class="time-table-col heading-left">11月10日</div> -->
    <div class="time-table-col heading-right">8:30-9:30 {% t schedule_check_in %}</div>
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">9:30 - 10:40</span> FIBOS 打造一站式Dapp
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">9:30 - 10:40</span> 以太坊Dapp 渗透测试（拟）
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">9:30 - 10:40</span> 虚位以待
      </div></div>
  </div>
  <div class="time-table-row heading">
    <div class="time-table-col">10:40-11:10 {% t schedule_coffee %}</div>
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">11:10 - 12:30</span> 公信宝Dapp生态打造（拟）
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">11:10 - 12:30</span> 详解Fomo3D获奖方式（拟）
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">11:10 - 12:30</span> 虚位以待
      </div></div>
  </div>
  <div class="time-table-row heading">
    <div class="time-table-col">12:30-13:30 {% t schedule_lunch %}</div>
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">13:30 - 14:40</span> 以太坊Dapp中智能合约实践（拟）
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">13:30 - 14:40</span> EOS网络中漏洞问题
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">13:30 - 14:40</span> 虚位以待
      </div></div>
  </div>
  <div class="time-table-row heading">
    <div class="time-table-col">14:40-15:10 {% t schedule_coffee %}</div>
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">15:10 - 16:20</span> Dapp在医疗行业中的实践分享
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">15:10 - 16:20</span> 虚位以待
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">15:10 - 16:20</span> 虚位以待
      </div></div>
  </div>
  <div class="time-table-row heading">
    <div class="time-table-col">16:20-16:50 {% t schedule_coffee %}</div>
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">16:50 - 18:00</span> 虚位以待
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">16:50 - 18:00</span> 虚位以待
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">16:50 - 18:00</span> 虚位以待
      </div></div>
  </div>
  <div class="time-table-row heading">
    <div class="time-table-col main-right">18:00-18:30 {% t schedule_end %}</div>
  </div>
</div>
