<div class="time-table day2">
  <div class="schedule-details-heading">
    <div class="main">
      <div class="title">{% t schedule_main_title  %}</div>
    </div>
  </div>
  <div class="time-table-row heading">
    <!-- <div class="time-table-col heading-left">11月9日</div> -->
    <div class="time-table-col heading-right">8:30-9:30 {% t schedule_check_in %}</div>
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col main-left"><span class="time">9:30 - 10:00</span></div>
    <div class="time-table-col main-right">
      {% assign guillermo = site.presentspeakers | where:"user", "shangwei" %}
      <div class="topic">
      {% if site.lang == 'cn' %}
        {{ guillermo[0].topicCN }}
      {% else %}
        {{ guillermo[0].topicEN }}
      {% endif %}
      </div>
      <div class="speaker">
        {{ guillermo[0].name }}
      </div>
    </div>
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col main-left"><div class="time">10:00 - 10:50</div>Keynote</div>
    <div class="time-table-col main-right">
      {% assign guillermo = site.presentspeakers | where:"user", "xiangma" %}
      <div class="topic">
      {% if site.lang == 'cn' %}
        {{ guillermo[0].topicCN }}
      {% else %}
        {{ guillermo[0].topicEN }}
      {% endif %}
      </div>
      <div class="speaker">
        {{ guillermo[0].name }}
      </div>
    </div>
    <!-- <div class="time-table-col side"></div> -->
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col main-left"><div class="time">11:00 - 12:00</div>Keynote</div>
    <div class="time-table-col main-right">
      {% assign guillermo = site.presentspeakers | where:"user", "guzi" %}
      <div class="topic">
      {% if site.lang == 'cn' %}
        {{ guillermo[0].topicCN }}
      {% else %}
        {{ guillermo[0].topicEN }}
      {% endif %}
      </div>
      <div class="speaker">
        {{ guillermo[0].name }}
      </div>
    </div>
    <!-- <div class="time-table-col side"></div> -->
  </div>
  <div class="schedule-details-heading">
    <div class="side">
      <div class="title">{% t schedule_workshop_title  %}一</div>
    </div>
    <div class="side">
      <div class="title">{% t schedule_workshop_title  %}二</div>
    </div>
    <div class="side">
      <div class="title">{% t schedule_workshop_title  %}三</div>
    </div>
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">13:30 - 14:00</span> ONO——全球最大的去中心化价值网络生态
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">13:30 - 14:00</span> Fomo3D 的启示
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">13:30 - 14:00</span> 虚位以待
      </div></div>
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">14:10 - 14:40</span> 区块链在版权溯源中的应用
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">14:10 - 14:40</span> 浅谈区块链思维与游戏性设计
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">14:10 - 14:40</span> 虚位以待
      </div></div>
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">14:50 - 15:20</span> Big Data + Blockchain. 区块链怎么帮助大数据？
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">14:50 - 15:20</span> 虚位以待
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">14:50 - 15:20</span> 虚位以待
      </div></div>
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">15:30 - 16:00</span> 虚位以待
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">15:30 - 16:00</span> 虚位以待
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">15:30 - 16:00</span> 虚位以待
      </div></div>
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">16:30 - 17:30</span> 圆桌论坛
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">16:30 - 17:30</span> 圆桌论坛
      </div>
    </div>
    <div class="time-table-col side">
      <div class="tbd">
        <span class="time">16:30 - 17:30</span> 圆桌论坛
      </div></div>
  </div>
  <div class="time-table-row heading">
    <div class="time-table-col main-right">17:00-18:00 {% t schedule_end %}</div>
  </div>
</div>
