
<div class="time-table day1">
  <div class="schedule-details-heading">
    <div class="main">
      <div class="title">{% t schedule_main_title  %}</div>
    </div>
  </div>
  <div class="time-table-row heading">
    <!-- <div class="time-table-col heading-left">11月9日</div> -->
    <div class="time-table-col heading-right">8:30-9:30 {% t schedule_check_in %}</div>
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col main-left"><span class="time">9:30 - 9:50</span></div>
    <div class="time-table-col main-right">
      {% assign guillermo = site.presentspeakers | where:"user", "shangwei" %}
      <div class="topic">
      {% if site.lang == 'cn' %}
        {{ guillermo[0].topicCN }}
      {% else %}
        {{ guillermo[0].topicEN }}
      {% endif %}
      </div>
      <div class="speaker">
        {{ guillermo[0].name }}
      </div>
    </div>
  </div>
  <div class="time-table-row">
    <div class="time-table-col main-left"><div class="time">9:50 - 12:00</div>Keynote</div>
    <div class="time-table-col main-right">
      {% assign guillermo = site.presentspeakers | where:"user", "fibos" %}
      <div class="topic">
      {% if site.lang == 'cn' %}
        {{ guillermo[0].topicCN }}
      {% else %}
        {{ guillermo[0].topicEN }}
      {% endif %}
      </div>
      <div class="speaker">
        {{ guillermo[0].name }}
      </div>
    </div>
    <!-- <div class="time-table-col side"></div> -->
  </div>
  <div class="time-table-row heading">
    <div class="time-table-col heading-left"></div>
    <div class="time-table-col heading-right">12:00-13:30 {% t schedule_lunch %}</div>
  </div>
  <div class="time-table-row border-bottom">
    <div class="time-table-col main-left"><div class="time">13:30 - 16:00</div>Keynote</div>
    <div class="time-table-col main-right">
      {% assign evanyou = site.presentspeakers | where:"user", "slowmist" %}
      <div class="topic">
      {% if site.lang == 'cn' %}
        {{ evanyou[0].topicCN }}
      {% else %}
        {{ evanyou[0].topicEN }}
      {% endif %}
      <!-- <a href="/files/{{evanyou[0].file}}" target="new" class="deck-link">
        <span>{% t slide_download %}</span>
        <svg class="icon-svg icon-download"><use xlink:href="#icon-download"></use></svg>
      </a> -->
      </div>
      <div class="speaker">
        {{ evanyou[0].name }}
      </div>
    </div>
    <!-- <div class="time-table-col side"></div> -->
  </div>
  <div class="time-table-row heading">
    <div class="time-table-col">16:00-16:15 {% t schedule_coffee %}</div>
  </div>
  <div class="time-table-row">
    <div class="time-table-col main-left"><span class="time">16:15 - 18:00</span></div>
    <div class="time-table-col main-right">
      <div class="topic">
        闭门讨论会：Dapp开发和安全的未来
      </div>
    </div>
    <!-- <div class="time-table-col side"></div> -->
  </div>
</div>
